* {
    margin: 0;
    padding: 0;
    border: 0;
}

.first {
    background-color: green;
    box-sizing: border-box;
    width: 100%;
    height: 800px;
    margin: 1px auto;
}

.top {
    background-color: yellow;
    box-sizing: border-box;
    border: 5px solid red;
    width: 100%;
    height: 50px;
    position: relative;
    top: 20px;
}

.middle {
    background-color: yellow;
    box-sizing: border-box;
    border: 5px solid red;
    /*display: inline-block;*/
    float: left;
    width: 50%;
    height: 500px;
    position: relative;
    top: 40px;
    
}

.bottom {
    background-color: yellow;
    box-sizing: border-box;
    clear: both;
    border: 5px solid red;
    width: 100%;
    height: 100px;
    position: relative;
    top: 100px;
}

.small1 {
    border: 1px solid black;
    box-sizing: border-box;
    /*display: inline-block;*/
    float: left;
    width: 50%;
    height: 50px;
    position: relative;
    top: 150px;
}

.small2 {
    border: 1px solid black;
    box-sizing: border-box;
    /*display: inline-block;*/
    clear: both;
    width: 100%;
    height: 150px;
    position: relative;
    top: 200px;
}   