<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shopping Summary</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="utf-8" />
</head>
<body>

<h1 align="center">Green Fox Fashion Web Store</h1>

<h2 align="center">Summary</h2>

<div>
    <table class="table">
        <tr>
            <th>item name</th>
            <th>manufacturer</th>
            <th>category</th>
            <th>size</th>
            <th>amount</th>
            <th>sub-total price of the item</th>
        </tr>
        <tr th:object="${selectedMerchandise}">
            <td th:text="*{itemName}"/>
            <td th:text="*{manufacturer}"/>
            <td th:text="*{category}"/>
            <td th:text="*{size}"/>
            <td th:text="${shoppingBasketDTO.quantity}"/>
            <td th:text="${selectedMerchandise.unitPrice} * ${shoppingBasketDTO.quantity}"/>
        </tr>
    </table>
</div>

<a th:href="@{/warehouse}">Back to main</a>

</body>
</html>