<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Main Page</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

    <h1>Matchmaking Application</h1>

    <div th:if="${principal} == null">
        <h2>Login</h2>
        <div>
            With Google: <a href="/login/google" class="btn btn-success" role="button">Click here</a>
        </div>
    </div>

    <div th:unless="${principal} == null">
        <p th:text="'Logged in as: ' + ${principal.userAuthentication.details.name}"></p>
        <a href="/admin" class="btn btn-info" role="button">Admin Page</a>
        <div>
            <form action="#" th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </div>
    </div>

</body>
</html>
