<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ToDo List - Login page</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="utf-8" />
</head>
<body>

<h1 class="text-uppercase">Enter The Todos for today:</h1>

<form action="#" th:action="@{/login}" th:object="${siteUser}" method="post">
    <input type="text" placeholder="enter username" th:field="*{username}"/>
    <input type="text" placeholder="enter password" th:field="*{password}"/>
    <input class="btn btn-danger" value="Login" type="submit"/>
</form>

<!--<form th:action="@{/login}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>-->

<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

</body>
</html>