<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>

<form action="#" th:action="@{/gfa/add}" method="post">
    <table border="1">
        <tr>
            <td><label>Enter name of new student</label></td>
            <td><input type="text" name="newName" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
<a th:href="@{/gfa}">Home</a>
</body>
</html>