<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<table border="1">
    <td>id</td>
    <td>name</td>
    <td>balance (Zebras)</td>
    <td>animal family</td>
    <td>being king</td>
    <td>affiliation</td>
    <td>affiliation</td>
    <tr th:each="accounts: ${listOfBankAccounts}">
        <td th:text="${accountsStat.count}" />
        <td th:text="${accounts.name}" />
        <td th:text="${accounts.balance}" />
        <td th:text="${accounts.animalType}" />
        <td>
            <span th:if="${accounts.king} == true" th:style="'color: red; font-size: 20px; font-family: Verdana'" th:text="King" />
            <span th:unless="${accounts.king} == true" th:text="'Not a king'" />
        </td>
        <td th:switch="${accounts.affiliation}">
            <span th:case="'Good One'" th:text="good" />
            <span th:case="'Bad Guy'" th:text="bad" />
        </td>
        <!--<td>
            <form class="button" th:action="@{/accounts/raiseone}" th:field="${accounts.get(accountsStat.index)}" method="post">
                <input type="submit" value="Raise"/>
            </form>
        </td>-->

        <td th:text="${accounts.affiliation}" />
    </tr>
</table>
<form class="button" th:action="@{/accounts/raise}" method="post">
    <input type="submit" value="Raise"/>
</form>

<form th:action="@{/accounts/raiseone}" th:object="${listOfBankAccounts}" method="post">
    <select id="optionsList" name="optionsListId" th:field="*{accounts}">
        <option th:each="accounts : ${listOfBankAccounts}" th:value="${accounts.name}"
                th:text="${accounts.name}" th:selected="${selectedOptionsList.contains(option.getOption())}">Options</option>
    </select>
</form>

<form action="#" th:action="@{/addAnimal}" th:object="${bankAccount}" method="post">
    <table border="1">
        <tr>
            <td><label>name:</label></td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td><label>balance:</label></td>
            <td><input type="number" th:field="*{balance}" /></td>
        </tr>
        <tr>
            <td><label>animalType:</label></td>
            <td><input type="text" th:field="*{animalType}" /></td>
        </tr>
        <tr>
            <td><label>king:</label></td>
            <td><input type="text" th:field="*{king}" /></td>
        </tr>
        <tr>
            <td><label>affiliation:</label></td>
            <td><input type="text" th:field="*{affiliation}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
</body>
</html>